extends layout

block content
	header
		div(class="header-box")
			div(class="logo-container")
				img(src="../img/event-logga.png" class="logo")
			div(class="event-intro")
				h1 T10+20
				a(href="/message" class="link-message-board") Ideas or write a comment
				div(class="event-info-text")
					p t10+20 #1
					p 28-30 oktober
					p Nynäshamn
	main
		div(class="main-container")
			article(class="col")
				h2 Who Do You Want To Be?
				p.
					The choice is yours. Do you want to be a famous sword fighter from Berendien in the world of Erebaltor, a dreadful Nosferatu living in the sewers of Chicago, or a mutant that can zap 
					anyone with 100.000.000 mHz lightning bolts. 
				p.bold The choice is yours!
		article(class="col col-100 group-info")
			div(class="event-info col-50")
				h3 Event Information
				p.
					För att kunna planera den här helgen behöver vi veta mer om er. Så vänligen svara på vår undersökning så fort ni kan (annars får ni inte komma). <a href="https://goo.gl/forms/wLOk8mTFzevTQCny1" title="undersökning">Klicka här!</a>
				p.
					Inom kort, om vi hinner genomföra alla ritualer innan Pluto har korsat Saturnus födelsebana, så kommer all praktisk information om den kommande helgen magiskt framträda på denna plats. 
			div(class="col-50")
				h3 The Path To Endless Possibilities<br />Will Soon Be Revealed!

	footer 
		div(class="")
			p.
				Har du några frågor vänligen kontakta oss <a href="http://tinyurl.com/z5tzjzx">här</a>. 