extends layout

block content
	div(class="page-container")
		header
			h1=title
			h2 28-30 oktober
		main(class="main")
			div(class="col-a")
				p.
					Värm upp dina handleder. Välj ut dina bästa tärningar. Snart kommer en helg fylld med interaktivt berättande och greppbara spelbitar. 

