extends layout

block content
	header
		div(class="header-box")
			div(class="logo-container")
				img(src="../img/event-logga.png" class="logo")
			div(class="event-info")
				h1 T10+20
				div(class="event-info-text")
					p t10+20 #1
					p 28-30 oktober
					p Nynäshamn
	main
		div(class="main-container")
			article(class="col col-60")
				h2 Who Do You Want To Be?
				p.
					The choise is yours. Do you want to be a famous sword fighter from Berendien in the world of Erebaltor, a dreadful Nosferatu living in the sewers of Chicago, or a mutant that can zap 
					anyone width 100.000.000 mHz lightning bolts. 
		article(class="col col-100 group-info")
			h3 Grouping
			p dsfljk lökj ljk 
