extends layout-satan

block content 

	div(class="satan")
		p Begin to chant the following:
		ul 
			li Silence make the demons come alive 
			li Silence make the demons come alive 
			li Silence make the demons come alive 
			li Silence make the demons come alive 
			li Silence make the demons come alive 
			li I call upon the power of the Dark Lordis and I invite the great demons, you may enter <i>(repeat this five times)</i>
			li Satanatus 
			li Satanatus 
			li Satanatus 
			li Satanatus 
			li Satanatus 
			li Life of the great demons, come to us <i>(repeat this five times)</i>