extends layout-satan

block content 

	div(class="satan")
		p Begin to chant the following :
		p - Silence make the demons come alive -
		p	- Silence make the demons come alive -
		p	- Silence make the demons come alive -
		p	- Silence make the demons come alive -
		p	- Silence make the demons come alive -
		p	- I call upon the power of the Dark Lordis and I invite the great demons, you may enter (repeat this five times)
		p - Satanatus 
		p - Satanatus 
		p - Satanatus 
		p - Satanatus 
		p - Satanatus 
		p - Life of the great demons, come to us (repeat this five times)