global-reset()

html 
	height: 100%
body
	width: 100%
	height: 100%
	font-size: 100%
	//line-height: 1.2em
	background: url('../img/dungeons-and-dragons-1.jpg') black fixed
	background-size: cover
	background-repeat: no-repeat
	color: white
	position: absolute
	font-family: 'Open Sans Condensed'
	//height: 4000px

body:before {
	background: linear-gradient(to top, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.8) 100%);
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    z-index: -1
}

.bold 
	font-size: 1.2em

h1, h2, h3
	text-transform: uppercase

h1 
	display: flex
	align-items: center
	justify-content: center
	margin-top: 6%
	font-size: 3em
	text-indent: -9999px;

h2 
	//font-size: 3em
	font-size: 5.0vw
	//line-height: 1.6em
	
h3 
	//font-size: 2.4em
	font-size: 3.8vw
	line-height: 1.4em

p 
	//font-size: 3.2vw
	font-size: 3vmin

a 
	//color: gold
	color: rgba(250, 183, 229, 1)
	text-decoration: none

a:hover 
	text-decoration: underline

header
	//position: fixed
	color: white
	background: rgba(0, 0, 0, .3)
	overflow: hidden
	width: 100%
	
.header-box
	position: relative	
	display: flex
	flex-flow: row nowrap
	padding: 1%

.logo-container 
	width: 24% //24%
	min-height: 130px
	display: inline-block
	
	@media screen and (min-width: 31.875em)
		//width: 15%
	@media screen and (min-width: 78.125em)
		width: 10%

.logo 
	max-width: 100%
	min-height: 130px
	@media screen and (min-width: 31.875em)
		max-height: 168px

.event-intro
	width: 75%
	display: inline-block
	@media screen and (min-width: 31.875em)
		width: 84%
	@media screen and (min-width: 78.125em)
		width: 89%

.event-info-text 
	font-size: .9em
	text-transform: uppercase
	position: absolute
	bottom: 8%
	right: 1%

.main-container, .group-info, footer
	padding: 2%

.main-container 
	margin: 5% 0 10% 0
 	display: flex
	flex-flow: row nowrap

.col-100 
	width: 100%

.col-50 
	width: 100%
	@media screen and (min-width: 31.875em)
		width: 50%
	@media screen and (min-width: 78.125em)
		width: 50%	

.group-info 
	//background: rgba(112, 76, 80, .7)
	padding: 0 2%
	box-sizing: border-box
	background: rgba(98, 98, 111, .7)
	height: 300px
	@media screen and (min-width: 50.3125em)
		display: flex
		flex-flow: row nowrap

.group-info 
	div:first-child
		padding: 0 2% 0 0
		border-sizing: border-box
	div:last-child
		padding: 0 0 0 2%

footer 
	background-color: rgba(0, 0, 0, .3)



