html 
	height: 100%
body
	height: 100%
	background: url('../img/event-logga-1.png') black fixed
	background-size: cover
	background-position: 50% 0%
	background-size: 51%
	background-repeat: no-repeat
	color: white
	font-size: 100%

.page-container 
	width: 100%

.col-a 
	width: 60%
	
h1 
	font-size: 2em
	font-family: helvetica, arial, sans-serif